{% macro breadcrumbs(rui-icon="") %}
<!-- START: Breadcrumbs -->
<ul class="rui-breadcrumbs">
    <li><a href="dashboard.html"><span data-feather="{{ rui-icon }}" class="rui-icon rui-icon-stroke-1_5"></span></a></li>
</ul>
<!-- END: Breadcrumbs -->
{% endmacro %}
