{% set page_title = 'Element Spinners' %}
{% set header_title = 'Spinners' %}
{% set with_sidebar = true %}
{% extends 'layouts/layout-container.njk' %}

{% set breadcrumbs = [
    ['Home', 'dashboard.html'],
    ['Components', '#'],
    ['Base', '#']
] %}

{% block content %}

{% from "macros/snippet.njk" import snippet %}
{% from "macros/sidebar.njk" import sidebar %}

<h2 id="spinnersBase">Base</h2>
{% call snippet('SpinnersBase') %}
<div class="spinner-border text-brand" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-secondary" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-success" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-danger" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-warning" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-info" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-light" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-border text-dark" role="status">
    <span class="sr-only">Loading...</span>
</div>
{%- endcall %}

<div class="rui-gap-4" id="spinnersGrowing"></div>
<h2>Growing Spinner</h2>
{% call snippet('SpinnersGrowing') %}
<div class="spinner-grow text-brand" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
    <span class="sr-only">Loading...</span>
</div>
{%- endcall %}

{% endblock %}


{% block content_sidebar %}
{% call sidebar() %}
    <li><a class="nav-link" href="#spinnersBase">Base</a></li>
    <li><a class="nav-link" href="#spinnersGrowing">Growing Spinner</a></li>
{% endcall %}
{% endblock %}


{% block vendor_css %}

    <!-- Highlight -->
    <link rel="stylesheet" href="./assets/vendor/highlightjs/styles/default.css">

{% endblock %}

{% block vendor_js %}

    <!-- Highlight -->
    <script src="./assets/vendor/highlightjs/highlight.pack.min.js"></script>

{% endblock %}
