{% set page_title = 'Sign Up' %}
{% extends 'layouts/layout-sign.njk' %}

{% block content %}

<div class="rui-sign">
    <div class="row w-100">
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="form rui-sign-form">
                <div class="row vertical-gap sm-gap justify-content-center">
                    <div class="col-12">
                        <h1 class="display-4 mb-10 text-center">Sign Up</h1>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-12">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-12">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="col-12">
                        <div class="custom-control custom-checkbox d-flex justify-content-start">
                            <input type="checkbox" class="custom-control-input" id="rememberMe">
                            <label class="custom-control-label text-grey-5 fs-13" for="rememberMe">I have read and agree to the <a href="#" class="text-2">terms and conditions.</a></label>
                        </div>
                    </div>
                    <div class="col-12">
                        <a href="dashboard.html" class="btn btn-brand btn-block text-center">Sign up</a>
                    </div>
                    <div class="col-12">
                        <div class="rui-sign-or mt-2 mb-5">or</div>
                    </div>
                    <div class="col-12">
                        <ul class="rui-social-links">
                            <li>
                                <a href="dashboard.html" class="rui-social-github">
                                    <span class="fab fa-github"></span>
                                    Github
                                </a>
                            </li>
                            <li>
                                <a href="dashboard.html" class="rui-social-facebook">
                                    <span class="fab fa-facebook-f"></span>
                                    Facebook
                                </a>
                            </li>
                            <li>
                                <a href="dashboard.html" class="rui-social-google">
                                    <span class="fab fa-google"></span>
                                    Google
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 text-center text-grey-5 fs-13">
                        Already have an account? <a href="sign-in.html" class="text-2">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="bg-image">
                <div style="background-image: url('${require('../../../common-assets/images/bg-sign.png')}');"></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block vendor_js %}

    <!-- FontAwesome -->
    <script src="./assets/vendor/fontawesome-free/js/all.js"></script>
    <script src="./assets/vendor/fontawesome-free/js/v4-shims.js"></script>

{% endblock %}
