<!--
    START: Swiper

    Additional attributes:
        data-swiper-loop
        data-swiper-grabCursor
        data-swiper-autoHeight
        data-swiper-center
        data-swiper-slides ('auto' or Number)
        data-swiper-gap
        data-swiper-speed
        data-swiper-breakpoints (Example: '992:3,768:2')
-->
<div class="rui-swiper" data-swiper-initialSlide="2" data-swiper-loop="false" data-swiper-grabCursor="true" data-swiper-center="true" data-swiper-slides="auto" data-swiper-gap="30" data-swiper-speed="400">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="rui-widget rui-widget-chart">
                    <div class="rui-widget-chart-info">
                        <div class="rui-widget-title h2">25%</div>
                        <small class="rui-widget-subtitle">Bounce Rate</small>
                    </div>
                    <div class="rui-chartjs-container">
                        <div class="rui-chartist rui-chartist-donut" data-width="150" data-height="150" data-chartist-series="5,2" data-chartist-width="4" data-chartist-gradient="#8e9fff;#2bb7ef"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="rui-widget rui-widget-chart">
                    <div class="rui-widget-chart-info">
                        <div class="rui-widget-title h2">-12%</div>
                        <small class="rui-widget-subtitle">Sales Today</small>
                    </div>
                    <div class="rui-chartjs-container">
                        <div class="rui-chartist rui-chartist-donut" data-width="150" data-height="150" data-chartist-series="2,8" data-chartist-width="4" data-chartist-gradient="#8e9fff;#2bb7ef"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide rui-swiper-slide-total">
                <div class="rui-widget rui-widget-chart rui-widget-total">
                    <div class="rui-widget-chart-info">
                        <div class="rui-widget-title h1">$1371.24</div>
                        <small class="rui-widget-subtitle">Total Income</small>
                    </div>
                    <div class="rui-widget-total-chart">
                        <canvas class="rui-chartjs rui-chartjs-line rui-chartjs-total" data-height="50"
                            data-chartjs-interval="3000"
                            data-chartjs-line-color="#8e9fff">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="rui-widget rui-widget-chart">
                    <div class="rui-widget-chart-info">
                        <div class="rui-widget-title h2">+14%</div>
                        <small class="rui-widget-subtitle">Users Today</small>
                    </div>
                    <div class="rui-chartjs-container">
                        <div class="rui-chartist rui-chartist-donut" data-width="150" data-height="150" data-chartist-series="8,1" data-chartist-width="4" data-chartist-gradient="#8e9fff;#2bb7ef"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="rui-widget rui-widget-chart">
                    <div class="rui-widget-chart-info">
                        <div class="rui-widget-title h2">+10%</div>
                        <small class="rui-widget-subtitle">Session</small>
                    </div>
                    <div class="rui-chartjs-container">
                        <div class="rui-chartist rui-chartist-donut" data-width="150" data-height="150" data-chartist-series="5,5" data-chartist-width="4" data-chartist-gradient="#8e9fff;#2bb7ef"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next"><span data-feather="chevron-right" class="rui-icon rui-icon-stroke-1_5"></span></div>
    <div class="swiper-button-prev"><span data-feather="chevron-left" class="rui-icon rui-icon-stroke-1_5"></span></div>
</div>
<!-- END: Swiper -->

<!-- Latest Actions -->
<div class="rui-gap-2"></div>
<div class="row vertical-gap">
    <div class="col-lg-4">
        <div class="rui-widget rui-widget-actions">
            <div class="rui-widget-head">
                <h4 class="rui-widget-title">Latest Tasks</h4>
                <div class="dropdown dropdown-hover{{ ' dropdown-triangle' if dropdown_triangle }} dropdown-keep-open ml-auto">
                    <a class="dropdown-item mnr-8" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,12">
                        <span class="btn btn-custom-round">
                            <span data-feather="more-vertical" class="rui-icon rui-icon-stroke-1_5"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="dropdown-item" href="#">Export to XLS</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Export to PDF</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Export to XML</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rui-widget-content">
                <ul class="list-group list-group-flush rui-widget-list rui-widget-task-list">
                    <li class="list-group-item">
                        {{ task("alert-circle","Cattle whose. There isn't cattle rule said","#12 opened 4 days ago by","Henry","rui-task-success")}}
                    </li>
                    <li class="list-group-item">
                        {{ task("alert-circle","Was living rule Him created a to. Light of itself","#11 opened 21 days ago by","Neil","rui-task-success")}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="rui-widget rui-widget-actions">
            <div class="rui-widget-head">
                <h4 class="rui-widget-title">Latest Uploads</h4>
                <div class="dropdown dropdown-hover{{ ' dropdown-triangle' if dropdown_triangle }} dropdown-keep-open ml-auto">
                    <a class="dropdown-item mnr-8" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,12">
                        <span class="btn btn-custom-round">
                            <span data-feather="more-vertical" class="rui-icon rui-icon-stroke-1_5"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="dropdown-item" href="#">Export to XLS</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Export to PDF</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Export to XML</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rui-widget-content">
                <ul class="list-group list-group-flush rui-widget-list">
                    <li class="list-group-item">
                        <div class="media media-filled">
                            <a href="#" class="media-link">
                                <span class="media-img bg-transparent"><img src="../../../common-assets/images/icon-zip.svg" class="icon-file" alt=""></span>
                                <span class="media-body">
                                    <span class="media-title">Added banner archive<span class="media-time">08:31</span></span>
                                    <small class="media-subtitle">Commerce</small>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media media-filled">
                            <a href="#" class="media-link">
                                <span class="media-img bg-transparent"><img src="../../../common-assets/images/icon-zip.svg" class="icon-file" alt=""></span>
                                <span class="media-body">
                                    <span class="media-title">Sensific-1.2.0.zip<span class="media-time">10:24</span></span>
                                    <small class="media-subtitle">Template</small>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="rui-widget rui-widget-actions">
            <div class="rui-widget-head">
                <h4 class="rui-widget-title">Activity</h4>
                <div class="dropdown dropdown-hover{{ ' dropdown-triangle' if dropdown_triangle }} dropdown-keep-open ml-auto">
                    <a class="dropdown-item mnr-8" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,12">
                        <span class="btn btn-custom-round">
                            <span data-feather="more-vertical" class="rui-icon rui-icon-stroke-1_5"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="dropdown-item" href="#">Export to XLS</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Export to PDF</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Export to XML</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rui-widget-content">
                <ul class="list-group list-group-flush rui-widget-list">
                    <li class="list-group-item">
                        <div class="media media-filled">
                            <a href="#" class="media-link active">
                                <span class="media-img">P</span>
                                <span class="media-body">
                                    <span class="media-title">[Project] Release Version 1.2.0</span>
                                    <small class="media-subtitle">Jul 05, 2020 10:22 — created</small>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media media-filled">
                            <a href="#" class="media-link active">
                                <span class="media-img">H</span>
                                <span class="media-body">
                                    <span class="media-title">[Hotfix] Error login page</span>
                                    <small class="media-subtitle">Jul 04, 2020 10:38 — created</small>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Server Data -->
<div class="rui-gap-2"></div>
<div class="row vertical-gap">
    <div class="col-lg-4">
        <div class="rui-widget rui-widget-server">
            <div class="rui-widget-head">
                <h4 class="rui-widget-title">Memory Usage</h4>
                <div class="dropdown dropdown-hover{{ ' dropdown-triangle' if dropdown_triangle }} dropdown-keep-open ml-auto">
                    <a class="dropdown-item mnr-8" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,12">
                        <span class="btn btn-custom-round">
                            <span data-feather="more-vertical" class="rui-icon rui-icon-stroke-1_5"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="dropdown-item" href="#">Export to XLS</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Export to PDF</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Export to XML</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rui-widget-content mnt-5">
                <span data-feather="server" class="rui-icon rui-icon-stroke-1_5"></span>16385 MB
            </div>
            <div class="rui-widget-server-chart">
                <canvas class="rui-chartjs rui-chartjs-line rui-chartjs-memory" data-height="80"
                    data-chartjs-interval="3000"
                    data-chartjs-line-color="#8e9fff">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="rui-widget rui-widget-server">
            <div class="rui-widget-head">
                <h4 class="rui-widget-title">Disc Usage</h4>
                <div class="dropdown dropdown-hover{{ ' dropdown-triangle' if dropdown_triangle }} dropdown-keep-open ml-auto">
                    <a class="dropdown-item mnr-8" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,12">
                        <span class="btn btn-custom-round">
                            <span data-feather="more-vertical" class="rui-icon rui-icon-stroke-1_5"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="dropdown-item" href="#">Export to XLS</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Export to PDF</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Export to XML</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rui-widget-content mnt-5">
                <span data-feather="disc" class="rui-icon rui-icon-stroke-1_5"></span>
                200 GB
            </div>
            <div class="rui-widget-server-chart">
                <canvas class="rui-chartjs rui-chartjs-line rui-chartjs-disc" data-height="80"
                    data-chartjs-interval="3000"
                    data-chartjs-line-color="#2bb7ef">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="rui-widget rui-widget-server">
            <div class="rui-widget-head">
                <h4 class="rui-widget-title">CPU Usage</h4>
                <div class="dropdown dropdown-hover{{ ' dropdown-triangle' if dropdown_triangle }} dropdown-keep-open ml-auto">
                    <a class="dropdown-item mnr-8" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,12">
                        <span class="btn btn-custom-round">
                            <span data-feather="more-vertical" class="rui-icon rui-icon-stroke-1_5"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="dropdown-item" href="#">Export to XLS</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Export to PDF</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Export to XML</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rui-widget-content mnt-5">
                <span data-feather="cpu" class="rui-icon rui-icon-stroke-1_5"></span>
                2x 3.60 MHz
            </div>
            <div class="rui-widget-server-chart">
                <canvas class="rui-chartjs rui-chartjs-line rui-chartjs-cpu" data-height="80"
                    data-chartjs-interval="3000"
                    data-chartjs-line-color="#6bdea7">
                </canvas>
            </div>
        </div>
    </div>
</div>

<!-- Earnings by countries and map -->
<div class="rui-gap-3"></div>
<h2>Earnings by Countries</h2>
<div class="row vertical-gap">
    <div class="col-lg-8">
        <div class="rui-widget p-0">
            <div class="rui-jqvmap"></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="rui-widget">
            <div class="rui-widget-content">
                <ul class="list-group list-group-flush rui-widget-list rui-widget-country-list rui-scrollbar">
                    <li class="list-group-item">
                        <div class="media media-filled media-country active">
                            <a href="#" class="media-link">
                                <span class="media-img">
                                    <img src="{{assets_pref}}{{ img_country.usa }}" alt="">
                                </span>
                                <span class="media-body">
                                    <div class="media-title">United States</div>
                                    <div class="media-country-price">$795.43</div>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media media-filled media-country">
                            <a href="#" class="media-link">
                                <span class="media-img">
                                    <img src="{{assets_pref}}{{ img_country.germany }}" alt="">
                                </span>
                                <span class="media-body">
                                    <div class="media-title">Germany</div>
                                    <div class="media-country-price">$382.57</div>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media media-filled media-country">
                            <a href="#" class="media-link">
                                <span class="media-img">
                                    <img src="{{assets_pref}}{{ img_country.france }}" alt="">
                                </span>
                                <span class="media-body">
                                    <div class="media-title">France</div>
                                    <div class="media-country-price">$181.58</div>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media media-filled media-country">
                            <a href="#" class="media-link">
                                <span class="media-img">
                                    <img src="{{assets_pref}}{{ img_country.canada }}" alt="">
                                </span>
                                <span class="media-body">
                                    <div class="media-title">Canada</div>
                                    <div class="media-country-price">$126.98</div>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media media-filled media-country">
                            <a href="#" class="media-link">
                                <span class="media-img">
                                    <img src="{{assets_pref}}{{ img_country.netherlands }}" alt="">
                                </span>
                                <span class="media-body">
                                    <div class="media-title">Netherlands</div>
                                    <div class="media-country-price">$83.02</div>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media media-filled media-country">
                            <a href="#" class="media-link">
                                <span class="media-img">
                                    <img src="{{assets_pref}}{{ img_country.italy }}" alt="">
                                </span>
                                <span class="media-body">
                                    <div class="media-title">Italy</div>
                                    <div class="media-country-price">$79.63</div>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media media-filled media-country">
                            <a href="#" class="media-link">
                                <span class="media-img">
                                    <img src="{{assets_pref}}{{ img_country.russia }}" alt="">
                                </span>
                                <span class="media-body">
                                    <div class="media-title">Russia</div>
                                    <div class="media-country-price">$74.39</div>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media media-filled media-country">
                            <a href="#" class="media-link">
                                <span class="media-img">
                                    <img src="{{assets_pref}}{{ img_country.czech_republic }}" alt="">
                                </span>
                                <span class="media-body">
                                    <div class="media-title">Czech Republic</div>
                                    <div class="media-country-price">$74.29</div>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
