
<!-- Swiper -->
<link rel="stylesheet" href="./assets/vendor/swiper/swiper-bundle.min.css">

<!-- Chartist -->
<link rel="stylesheet" href="./assets/vendor/chartist/dist/chartist.css">

<!-- jqVmap -->
<link rel="stylesheet" href="./assets/vendor/jqvmap/dist/jqvmap.css">
